<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2" style="text-align:center">
        <span class="navbar-brand ml-2">Crashes</span>
    </div>

    <br />


    <div>
        @RenderBody()
    </div>

    <div>
        <footer style="padding-top:50px; text-align:center;">Rootkit</footer>
    </div>

</body>
</html>
