<?xml version="1.0" encoding="UTF-8" ?>

<configuration>  
  <connectionStrings>  
    <add name="myConnection" connectionString="server=localhost;database=intex2;" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>

<connectionStrings>  
  <add
    name="mySql"
    providerName="MySql.Data.MySqlClient"
    connectionString="Server=localhost;Database=intex2;Uid=root;Pwd=@1Brickoven;" />
</connectionStrings>