@{
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model Crash

@if (SignInManager.IsSignedIn(User))
{
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Add/Edit a crash</h1>
                    <a class="btn btn-primary" href="#data">Add/Edit</a>
                </div>
            </div>
        </div>
    </header>

    <!--Data-->
    <section class="about-section text-center" id="data">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8" style="color: white">
                    <form method="post">
                        <div>
                            <label asp-for="CRASH_ID">Crash ID: </label>
                            <input asp-for="CRASH_ID" type="number" />
                        </div>

                        <div>
                            <label asp-for="CRASH_DATETIME">Crash Date and Time: </label>
                            <input asp-for="CRASH_DATETIME" type="text" />
                        </div>

                        <div>
                            <label asp-for="MAIN_ROAD_NAME">Road Name: </label>
                            <input asp-for="MAIN_ROAD_NAME" type="text" />
                        </div>

                        <div>
                            <label asp-for="CITY">City: </label>
                            <input asp-for="CITY" type="text" />
                        </div>

                        <div>
                            <label asp-for="COUNTY_NAME">County Name: </label>
                            <input asp-for="COUNTY_NAME" type="text" />
                        </div>

                        <div>
                            <label asp-for="CRASH_SEVERITY_ID" maxlength="1">Crash Severity: </label>
                            <input asp-for="CRASH_SEVERITY_ID" type="number" />
                        </div>

                        <div>
                            <label asp-for="ROUTE">Route: </label>
                            <input asp-for="ROUTE" type="text" />
                        </div>

                        <div>
                            <label asp-for="MILEPOINT">Milepoint: </label>
                            <input asp-for="MILEPOINT" type="number" />
                        </div>

                        <div>
                            <label asp-for="LAT_UTM_Y">Latitude: </label>
                            <input asp-for="LAT_UTM_Y" type="number" />
                        </div>

                        <div>
                            <label asp-for="LONG_UTM_X">Longitude: </label>
                            <input asp-for="LONG_UTM_X" type="number" />
                        </div>

                        <div>
                            <input type="checkbox" asp-for="WORK_ZONE_RELATED">
                            <label asp-for="WORK_ZONE_RELATED">Work zone related?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="PEDESTRIAN_INVOLVED">
                            <label asp-for="PEDESTRIAN_INVOLVED">Pedestrian involved?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="BICYCLIST_INVOLVED">
                            <label asp-for="BICYCLIST_INVOLVED">Bicyclist involved?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="MOTORCYCLE_INVOLVED">
                            <label asp-for="MOTORCYCLE_INVOLVED">Motorcycle involved?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="IMPROPER_RESTRAINT">
                            <label asp-for="IMPROPER_RESTRAINT">Improper restraint use?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="UNRESTRAINED">
                            <label asp-for="UNRESTRAINED">Unrestrained?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="DUI">
                            <label asp-for="DUI">DUI?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="INTERSECTION_RELATED">
                            <label asp-for="INTERSECTION_RELATED">Intersection related?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="WILD_ANIMAL_RELATED">
                            <label asp-for="WILD_ANIMAL_RELATED">Wild animal related?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="DOMESTIC_ANIMAL_RELATED">
                            <label asp-for="DOMESTIC_ANIMAL_RELATED">Domestic animal related?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="OVERTURN_ROLLOVER">
                            <label asp-for="OVERTURN_ROLLOVER">Overturn/Rollover?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">
                            <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">Commercial motor vehicle involved?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="TEENAGE_DRIVER_INVOLVED">
                            <label asp-for="TEENAGE_DRIVER_INVOLVED">Teenage driver involved?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="OLDER_DRIVER_INVOLVED">
                            <label asp-for="OLDER_DRIVER_INVOLVED">Older driver involved?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="NIGHT_DARK_CONDITION">
                            <label asp-for="NIGHT_DARK_CONDITION">Night/Dark Conditions?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="SINGLE_VEHICLE">
                            <label asp-for="SINGLE_VEHICLE">Single vehicle?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="DISTRACTED_DRIVING">
                            <label asp-for="DISTRACTED_DRIVING">Distracted driving?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="DROWSY_DRIVING">
                            <label asp-for="DROWSY_DRIVING">Drowsy driving?</label>
                        </div>

                        <div>
                            <input type="checkbox" asp-for="ROADWAY_DEPARTURE">
                            <label asp-for="ROADWAY_DEPARTURE">Roadway departure?</label>
                        </div>
                        <button class="btn-primary" type="submit">Add</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
}
else
{
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase" style="color:red !important">Access Denied</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Sorry, You do not have access to this page. Please contact your administrator.</h2>
                    
                </div>
            </div>
        </div>
    </header>
   
}
