
@{

}

@*CONTACT PAGE WITH WORKING PHONES AND EMAILS*@

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Get Involved</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Message us and see how you can contribute to our crash project.</h2>
                <a class="btn btn-primary" href="#data">Contact Us!</a>
            </div>
        </div>
    </div>
</header>

<!--Data-->
<section class="about-section text-center" id="data">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Contact List</h2>
                <h5 class="text-white mb-4 text-center">Name | Phone | Email </h5>
                <h5 class="text-white mb-4">Dallan Hernandez - <a href="tel:8014736046">+1(801) 4736046</a> - <a href="mailto:dallanher211@gmail.com"> dallanher211@gmail.com</a></h5>
                <h5 class="text-white mb-4">Cairo Murphy - <a href="tel:8018146869">+1(801) 8146869</a> - <a href="mailto:cairodmurphy@gmail.com">cairodmurphy@gmail.com</a></h5>
                <h5 class="text-white mb-4">Dan Bell - <a href="tel:8033940231">+1(803) 3940231</a> - <a href="mailto:danbell1998@gmail.com">danbell1998@gmail.com</a></h5>
                <h5 class="text-white mb-4">Nate Travis - <a href="tel:3852867429">+1(385) 2867429</a> - <a href="mailto:natetravis98@gmail.com">natetravis98@gmail.com</a></h5>
            </div>
        </div>
    </div>
</section>
