
@{
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*EDITS BASED ON IF ADMIN OR NOT*@

@if (SignInManager.IsSignedIn(User))
{


    <p>edit goes here :)</p>
}
else
{
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Access Denied</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Sorry, You do not have access to this page. Please contact your administrator.</h2>

                </div>
            </div>
        </div>
    </header>

}