@{
}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Crash Statistics</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Some data visualizations to assist in safety education and training.</h2>
                <a class="btn btn-primary" href="#data">View Stats</a>
            </div>
        </div>
    </div>
</header>

<!--Data-->
<section class="about-section text-center" id="data">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div class="row">
                <div class="cardSQL">
                    <div class="containercard">
                        <br />
                        <h3><b>45%</b></h3>
                        <p> of crashes involving a pedestrian end in fatality</p>
                    </div>
                </div>

                <div class="cardSQL">

                    <div class="containercard">
                        <br />
                        <h3><b>40%</b></h3>
                        <p>of all crashes on Utah roads happen between 2 and 6pm</p>
                    </div>
                </div>

                <div class="cardSQL">

                    <div class="containercard">
                        <br />
                        <h3><b>50% </b></h3>
                        <p>of car crashes involving a cyclist end in fatality</p>
                    </div>
                </div>

                <div class="cardSQL">

                    <div class="containercard">
                        <br />
                        <h3><b>60% </b></h3>
                        <p>of car crashes involving a motorcycle are level 4 or 5 severity</p>
                    </div>
                </div>

                <div class="cardSQL">

                    <div class="containercard">
                        <br />
                        <h3><b>2x</b></h3>
                        <p>how much morelikely you are to die in a crash if you aren't wearing your seatbelt properly</p>
                    </div>
                </div>

                <div class="cardSQL">

                    <div class="containercard">
                        <br />
                        <h3><b>5x</b></h3>
                        <p>how much more likely you are to sustain serious injuries in a crash if you aren't wearing your seatbelt properly</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='tableauPlaceholder' id='viz1649282781307' style='position: relative'><noscript><a href='#'><img alt='DUI Accidents in each County ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DU&#47;DUIperCounty&#47;Sheet2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DUIperCounty&#47;Sheet2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DU&#47;DUIperCounty&#47;Sheet2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>
                <script type='text/javascript'>var divElement = document.getElementById('viz1649282781307'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

                <div class='tableauPlaceholder' id='viz1649287232322' style='position: relative'><noscript><a href='#'><img alt='Crashes by Month ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Cr&#47;CrashesMonthly&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CrashesMonthly&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Cr&#47;CrashesMonthly&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>
                <script type='text/javascript'>var divElement = document.getElementById('viz1649287232322'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>


                <div class='tableauPlaceholder' id='viz1649286198277' style='position: relative'><noscript><a href='#'><img alt='Crashes with&#47;without Restraint ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Cr&#47;CrashesRestraint&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CrashesRestraint&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Cr&#47;CrashesRestraint&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>
                <script type='text/javascript'>var divElement = document.getElementById('viz1649286198277'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>


            </div>
        </div>
    </div>
</section>