@{
}

@model CrashSeverity

@* PREDICTION OF BEST FEATURES ON SEVERITY *@
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Severity Predictor</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Fill out the following information to predict the severity of an accident.</h2>
                <a class="btn btn-primary" href="#data">Fill out Form</a>
            </div>
        </div>
    </div>
</header>

<!--Data-->
<section class="about-section text-center" id="data">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Severity Prediction: </h2>
                <div class="text-white-50">
                    <form style="color:white" method="post" asp-controller="Inference" asp-action="Prediction">

                        <div class="row">
                            @*<div class="col" style="margin:1rem">
            <label>Road:</label>
            <input type="text" /><br /><br />

            <label>City:</label>
            <input type="text" /><br /><br />

            <label>County:</label>
            <input type="text" /><br /><br />

            <label>Date:</label>
            <input type="date" />
        </div>*@

                            <div class="col">
                                <div class="col" style="margin:1rem">
                                    <input type="checkbox" asp-for="pedestrian_involved">
                                    <label for="">Pedestrian Involved?</label>
                                </div>

                                <div class="col" style="margin:1rem" >
                                    <input type="checkbox"  asp-for="bicyclist_involved" >
                                    <label for="">Bicyclist Involved?</label>
                                </div>

                                <div class="col" style="margin:1rem" >
                                    <input type="checkbox" asp-for="motorcycle_involved" >
                                    <label for="">Motorcycle Involved?</label>
                                </div>

                                <div class="col" style="margin:1rem" >
                                    <input type="checkbox" asp-for="improper_restraint" >
                                    <label for="">Improper restraint?</label>
                                </div>

                                <div class="col" style="margin:1rem">
                                    <input type="checkbox" asp-for="unrestrained" >
                                    <label for="">Unrestrained?</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col" style="margin:1rem">
                                    <input type="checkbox" asp-for="dui" >
                                    <label for="">Result of DUI?</label>
                                </div>

                                <div class="col" style="margin:1rem">
                                    <input type="checkbox" asp-for="intersection_related" >
                                    <label for="">At an intersection?</label>
                                </div>

                                <div class="col" style="margin:1rem">
                                    <input type="checkbox" asp-for="overturn_rollover" >
                                    <label for="">Vehicle Overturned/Rolled?</label>
                                </div>

                                <div class="col" style="margin:1rem">
                                    <input type="checkbox" asp-for="single_vehicle" >
                                    <label for="">Single Vehicle?</label>
                                </div>

                                <div class="col" style="margin:1rem">
                                    <input type="checkbox" asp-for="roadway_departure" >
                                    <label for="">Departed from road?</label>
                                </div>
                            </div>

                        </div>
                        @*<div class="row">
                            <div class="col" style="margin:1rem">
                                <label>County:</label>
                                <input type="text" />
                            </div>

                            <div class="col">
                                <input type="hidden" />
                            </div>
                        </div>*@
                        <button type="submit" class="btn btn-primary" style="margin:1rem">Get Prediction</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>