@page "/admin"

@namespace AuthenticationLab.Pages

@model AuthenticationLab.Pages.Admin.IndexModel

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Crash Data Admin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />

</head>

<body>
    <component type="typeof(AuthenticationLab.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>
